
.add-new-note-wrapper h1{
    margin: 0px;
    color: #323128;
}
.form-wrapper{
    margin: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.input-group input{
    padding: 10px 70px;
    margin: 20px;
}

.form-wrapper button{
    padding: 10px 50px;
    background: rgb(16, 15, 14); 
    color: #ebe8e3;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.form-wrapper button:disabled{
   opacity: 0.65;
   cursor: not-allowed;
}
